In [1]:
import pandas as pd
pd.read_csv('https://github.com/outerbounds/.data/raw/main/hospital_readmission.csv').head().iloc[:, :15]

,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,race_Caucasian,race_AfricanAmerican,gender_Female,age_[70-80),age_[60-70),age_[50-60),age_[80-90)
0,14,41,0,11,0,0,0,6,True,False,False,False,False,True,False
1,2,30,0,12,0,0,1,9,True,False,True,False,False,True,False
2,5,66,0,22,1,0,2,9,True,False,True,False,False,False,True
3,3,63,0,8,0,0,0,8,True,False,True,False,False,True,False
4,5,40,0,6,0,0,1,9,True,False,True,False,False,False,True